@model FinalMerchBuild.Models.Bay

@{
    ViewBag.Title = "Bay Details";
}

<h2>Bay Details</h2>

<div>
    <dl>

        <dd>
            <table class="table" , style="background-color:#e2eef6">

                <tr>
                    <th>Bay Name</th>
                    <th>Bay Height</th>
                    <th>Bay Width</th>
                    <th>Bay Depth</th>
                    <th>X Location</th>
                    <th>Y Location</th>
                    <th>Num Fixtures</th>

                </tr>

                <td>
                    @Html.DisplayFor(model => model.BayName)
                </td>

                <td>
                    @Html.DisplayFor(model => model.BayHeight)
                </td>

                <td>
                    @Html.DisplayFor(model => model.BayWidth)
                </td>

                <td>
                    @Html.DisplayFor(model => model.BayDepth)
                </td>

                <td>
                    @Html.DisplayFor(model => model.XLocation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.YLocation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NumFix)
                </td>
            </table>
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<h4>Fixtures within selected Bay</h4>
<div>
    <dl>
        <dd>
            <table class="table" , style="background-color:#f3f6ec">
                <tr>
                    <th>Fix Name</th>
                    <th>Fix Height</th>
                    <th>Fix Width</th>
                    <th>Fix Depth</th>
                    <th>X Location</th>
                    <th>Y Location</th>

                </tr>
                @foreach(var item in Model.Fixtures)
                {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.FixName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixHeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixWidth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FixDepth)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.XLocation)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.YLocation)
                    </td>

                    <td>

                        @Html.ActionLink("Edit", "../Bay/Edit", new { id = item.FixtureID }) |
                        @Html.ActionLink("Details", "../Bay/Details", new { id = item.FixtureID }) |
                        @Html.ActionLink("Delete", "../Bay/Delete", new { id = item.FixtureID })
                    </td>
                </tr>
                }

            </table>
        </dd>
    </dl>
</div>
